
<div class="register-form">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <h2><b>Add Task</b></h2>
    <div class="form-group">
    <label for="name">Task Name:</label>
    <input type="text"  formControlName="name">
    <div *ngIf="formSubmitted && f['name'].errors && f['name'].errors['required']" class="alert alert-danger">
        Name is required.
    </div>
    <div *ngIf="formSubmitted && f['name'].errors && f['name'].errors['minlength']" class="alert alert-danger">
        Min 5 chars required.
    </div>
    </div>  
    <div class="form-group">
    <label for="email">Task Description:</label>
    <input type="text" id="email" formControlName="description">
    </div>

    <button type="submit" >Submit</button>
  </form>
  </div>
